.container {
  background-color:#d9e8e3;/*rgba(255,197,7,0.05);*/
  /*border-radius:4px;*/
  padding-bottom: 10px;
  }

#banner {
	margin-bottom: 3%;
}

#titre-co {
	margin-bottom: 3%;
}

#inputEmail {
	margin-bottom: 2%;
}

#btn_connexion {
	width: auto;
	margin: auto;
}

#btn-inscription {
	width: auto;
	margin : auto;
}

#btn-retour {
  width: auto;
  margin : auto;
}

#envoi {
  width: auto;
  margin : auto;
}

.error, .error:focus{
  border: solid 2px red;
  box-shadow: unset;
}

.error1{
  color:red;
}

#flatpickr{
  background-color: white !important;
}

/*//CSS CARROUSEL//*/
.w-100 {
  height: 360px ;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 20px auto;
  border-radius: 10px;
  width:auto;
}
#slider img {
  width: 400px;
  height: 360px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 360px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 400px;
  height: 360px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #ee8800;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.45;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: .75;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 90% 90% 0;
}

a.control_next {
  right: 0;
  border-radius: 90% 0 0 90%;
}

#Chuck_fr {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 60px;
}

/*CSS connexion ou inscription */
#form-connex {
  text-align: center;
}

#form-connex p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#form-inscrip {
  display:none;
}

#bubble {
  font-size: 23px;
  font-family: Comic Sans MS, Verdana, monospace;
  color: #000000;
  font-weight: bold;
  text-align: left;
}

/*CSS pour la page preference*/

h5 a{
  color:black;
}
h5 a:hover{
 color: #ffc107;
}

/* ========================================================================== */
#barreentete {
	background-color: white;
}

#barreentete ul {
	list-style-type: none;
	margin-top: 4px;
}

#barreentete li {
	display: inline;
}

#containerhaut {
	margin-bottom: 2%;
}

#navigation {
	margin-bottom: 1%;
}

#containermilieu {
	padding: 0;
}

#entete {
	margin: 0 0 4% 0;
	padding: 1%;
}

.img_list {
	width: 25px;
	height: 25px;
}

.friend_button {
	text-align: right;
}


#entetecategories {
	margin: 0 0 4% 0;
	padding: 1%;
	text-align: center;
}
#contenucategories .card {
	margin: 10px;
	width: 15rem;
}

iframe {
	width: auto;
	height: auto;
}

#entete h2 {
	text-align: right;
}

#texte {
	margin-bottom: 5px;
}

#boutonpublier {
	width: auto;
	margin-top: 1%;
}

#mapublication {
	padding: 3%;
	width: auto;
	text-align: center;
}
.card {
	margin-bottom: 2%;
}
#siderpub {
	text-align: center;
}

/*#siderpub img {
  height:1000px;
}*/

/* CSS pour API_amis */

#API_amis{
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25em;
  background-color: #fff;
}

.a {
  padding-left:.75em;
}

#API_amis img{
  margin-right:.5em;
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

#API_amis h6{
  text-align: center;
  }


/* ========================================================================== */

@media all and (max-width: 995px)
{
  /*#carousel {
    display:none;
  }
*/
  #form-connex{
    padding: auto;
    /*margin:auto;*/
    width:100%;

      }

  #btn_connexion{
    padding: auto;
  }

}
